@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* 146, 220, 126 */
    /* 250, 250, 110 */
    /* 57, 180, 142 */
    --color-primary: 254 223 221;
    --color-primary-content: 0 0 0;
    --color-secondary: 111 114 185;
    --color-accent: 250 250 110;
    --color-neutral: 50 36 35;
    --color-neutral-content: 238 238 238;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
